---
layout: default.njk
permalink: "404.html"
---

<div class="text-center">
    <h1 class="text-5xl font-serif font-bold">404</h1>
</div>

<div class="text-xl text-center text-gray-800 font-serif font-light py-12">
    <p>¯\_(ツ)_/¯</p>
</div>

<div class="py-12 flex flex-col sm:flex-row items-center justify-between link lg:mx-72 md:text-xl md:mx-36 sm:mx-24 mx-4">
    <a href="#">Blog</a>
    <a target="_blank" href="https://twitter.com/npgy_">Twitter</a>
    <a target="_blank" href="https://github.com/npgy">Github</a>
    <a target="_blank" href="mailto:me@np.gy">Email</a>
</div>