---
layout: default.njk
---

<div class="text-center">
    <h1 class="hidden sm:block text-5xl font-serif font-bold">Nick Preston</h1>
    <h1 class="sm:hidden text-5xl font-serif font-bold">Nick P.</h1>
</div>

<div class="text-xl text-gray-800 font-serif font-light">
    <p>Hi, I'm Nick. This is my personal website.</p>
    <br />
    <p>Here is my <a class="link underline" href="resume">resume</a>.</p>
</div>

<div class="py-12 flex flex-col sm:flex-row items-center justify-between link lg:mx-72 md:text-xl md:mx-36 sm:mx-24 mx-4">
    <a href="#">Blog</a>
    <a target="_blank" href="https://twitter.com/npgy_">Twitter</a>
    <a target="_blank" href="https://github.com/npgy">Github</a>
    <a target="_blank" href="mailto:me@np.gy">Email</a>
</div>